/* *{
  background-color:#D6CDBB;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chore-page {
  margin: 1%;
}

#survey-page > img#survey-raccoon {
  float:right;
  position: absolute;
  left: 18px;
  
}

#survey-page > img#survey-raccoon-trash {
  float:right;
  position: absolute;
  right: 24px;
  
}

@media (max-width:1000px) {
  img#survey-raccoon {
    display: none;
  }
  img#survey-raccoon-trash {
    display: none;
  }
}

#survey-submit-button {
  margin:7%;
  font-size: 200%;
}

#survey-page {
  text-align: center;
  margin: 2%;
}

#survey-page > h1 {
  vertical-align: middle;
  font-size: 5vh;
}

#survey-form > h2 {
  font-size: 4vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#survey-form * {
  margin: 1%;
  /* background-color: red; */
}

option {
  /* background-color: green; */
}

/* #chore-1 {
  width: 20%;
  font-size: 3vh;
  box-shadow: 10px 5px 5px rgb(89, 97, 93);
  
} */

#chore-1{
  background-color: rgb(88, 184, 157);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#chore-2 {
  background-color: rgb(88, 184, 157);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#chore-3 {
  background-color: rgb(88, 184, 157);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#chore-4 {
  background-color: rgb(88, 184, 157);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
#chore-5 {
  background-color: rgb(88, 184, 157);
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  border-radius: 25px;
  font-size: 25px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

